# Copyright 2025 NVIDIA CORPORATION
# SPDX-License-Identifier: Apache-2.0

global:
  registry: harbor.aimotive.com/lali-scheduler
  securityContext: {}
  imagePullSecrets: []
  leaderElection: true
  gpuSharing: false
  clusterAutoscaling: false
  affinity: {}
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
#  nodeSelector:
#    node-role.kubernetes.io/control-plane: ""
  requireDefaultPodAntiAffinityTerm: false
  namespaceLabelSelector: {}
  podLabelSelector: {}
  resourceReservation:
    namespace: kai-resource-reservation
    serviceAccount: kai-resource-reservation
    appLabel: kai-resource-reservation

operator:
  image:
    name: operator
    pullPolicy: IfNotPresent
  replicaCount: 1
  metricsBindAddress: ":8080"
  probeBindAddress: ":8081"
  qps: 50
  burst: 300

podgrouper:
  image:
    name: podgrouper
    pullPolicy: IfNotPresent
  additionalArgs: {}
  resources:
    limits:
      cpu: "500m"
      memory: "256Mi"
    requests:
      cpu: "250m"
      memory: "128Mi"
  queueLabelKey: "kai.scheduler/queue"
  affinity: {}

podgroupcontroller:
  image:
    name: podgroupcontroller
    pullPolicy: IfNotPresent
  affinity: {}

binder:
  name: binder
  image:
    name: binder
    pullPolicy: IfNotPresent
  resourceReservationImage:
    name: resourcereservation
  certSecretName: binder-webhook-tls-secret
  additionalArgs: {}
  ports:
    webhookPort: 9443
    metricsPort: 8080
  affinity: {}
scheduler:
  image:
    name: scheduler
    pullPolicy: IfNotPresent
  additionalArgs: {}
  placementStrategy: binpack
  ports:
    metricsPort: 8080
  resources:
    limits:
      cpu: "500m"
      memory: "256Mi"
    requests:
      cpu: "250m"
      memory: "128Mi"

webhookmanager:
  image:
    name: webhookmanager
    pullPolicy: IfNotPresent
  resources:
    limits:
      cpu: "500m"
      memory: "256Mi"
    requests:
      cpu: "250m"
      memory: "128Mi"

queuecontroller:
  image:
    name: queuecontroller
    pullPolicy: IfNotPresent
  certSecretName: queuecontroller-webhook-tls-secret
  affinity: {}

admission:
  name: kai-admission
  image:
    name: admission
    pullPolicy: IfNotPresent
  certSecretName: admission-webhook-tls-secret
  ports:
    webhookPort: 9443
    metricsPort: 8080
    probePort: 8081
  cdi: false
  gpuPodRuntimeClassName: nvidia
  affinity: {}

nodescaleadjuster:
  image:
    name: nodescaleadjuster
    pullPolicy: IfNotPresent
  scalingPodImage:
    name: scalingpod
    pullPolicy: IfNotPresent
  scalingPodNamespace: kai-scale-adjust
  affinity: {}

crdupgrader:
  image:
    name: crd-upgrader
    pullPolicy: IfNotPresent

defaultQueue:
  createDefaultQueue: false
  parentName: default-parent-queue
  childName: default-queue
  parentResources:
    cpu:
      quota: 0
      limit: -1
      overQuotaWeight: 1
    gpu:
      quota: 0
      limit: -1
      overQuotaWeight: 1
    memory:
      quota: 0
      limit: -1
      overQuotaWeight: 1
  childResources:
    cpu:
      quota: 0
      limit: -1
      overQuotaWeight: 1
    gpu:
      quota: 0
      limit: -1
      overQuotaWeight: 1
    memory:
      quota: 0
      limit: -1
      overQuotaWeight: 1
